@page "/trechos"
@using TrainTrackChecker.Components.Pages.Trechos
@inject IDialogService dialogService
@inject IApiService<Trecho> itemService
@inject IApiService<Hardware> itemServiceHardware
@inject NavigationManager navigationManager
@inject IJSRuntime JS

@if (items != default!) {
    <FluentStack Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Horizontal"
                 HorizontalAlignment="HorizontalAlignment.Stretch"
                 VerticalAlignment="VerticalAlignment.Top">
        <FluentIcon Style="margin-bottom:2px" Value="@(new Icons.Regular.Size32.ArrowCircleLeft())" OnClick="@(() => JS.InvokeVoidAsync("history.back"))" />
        <FluentSpacer />
        <FluentButton Appearance="Appearance.Accent" style="margin-bottom:10px"
                      IconStart="@(new Icons.Regular.Size16.Add())"
                      OnClick="@(() => AddDialog())">@AddNewButtonText &nbsp;&nbsp;</FluentButton>
    </FluentStack>
    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">

            <Grid TItem="Trecho"
                  Class="table table-hover table-bordered table-striped"
                  Data="items"
                  Style="font-size: 12px;"
                  AllowSorting="true"
                  AllowRowClick="true"
                  OnRowClick="OnRowClick"
                  AllowPaging="true"
                  PageSize="15"
                  AutoHidePaging="true"
                  PageSizeSelectorVisible="true"
                  PageSizeSelectorItems="@(new int[] { 15, 50, 100 })"
                  PaginationItemsTextFormat=""
                  ItemsPerPageText=""
                  AllowSelection="false"
                  EmptyText="Nenhum registro para exibir."
                  Responsive="true">

                <GridColumns>

                    <GridColumn TItem="Trecho" HeaderText="Codigo" PropertyName="Codigo" TextNoWrap="true"
                                TextAlignment="Alignment.Center" SortKeySelector="c => c.Codigo">
                        @context.Codigo
                    </GridColumn>
                    <GridColumn TItem="Trecho" HeaderText="Hardware" PropertyName="Hardware" TextNoWrap="true"
                                SortKeySelector="c => ((c.Hardware == null) ? null : c.Hardware.Nome)">
                        @((context.Hardware == null) ? "" : String.Format("{0} - {1}", context.Hardware.Codigo, context.Hardware.Nome))
                    </GridColumn>
                    <GridColumn TItem="Trecho" HeaderText="Data/Hora Início" PropertyName="Data/Hora Início" TextNoWrap="true"
                                SortKeySelector="c => c.DataHoraInicio">
                        @Helpers.DateTimeToLongString(context.DataHoraInicio)
                    </GridColumn>
                    <GridColumn TItem="Trecho" HeaderText="Data/Hora Fim" PropertyName="Data/Hora Fim" TextNoWrap="true"
                                SortKeySelector="c => c.DataHoraFim">
                        @Helpers.DateTimeToLongString(context.DataHoraFim)
                    </GridColumn> 
                    <GridColumn TItem="Trecho" HeaderText="Verificado" PropertyName="Verificado" TextNoWrap="true"
                                SortKeySelector="c => c.Verificado" TextAlignment="Alignment.Center">
                        @(context.Verificado ? "Sim" : "Não")
                </GridColumn>
                </GridColumns>
            </Grid>

        </div>
    </div>
    <FluentPaginator State="@pagination" />
} else {
    <div style="padding:10px">
        <p><em>Buscando dados...</em></p>
        <FluentProgress 
            Width="250px" 
            Stroke="@Microsoft.FluentUI.AspNetCore.Components.ProgressStroke.Small" />
    </div>
}


@code {

    string EntityNameSingular = "Trecho";
    string EntityNamePlural = "Trechos";
    string EntityPronoumSingular = "o";
    string EntityPronoumPlural = "os";

    string AddNewButtonText { get { return $"Adicionar nov{EntityPronoumSingular} {EntityNameSingular}"; } }

    private IQueryable<Trecho>? items = default!;
    private IQueryable<Hardware>? itemsHardware = default!;

    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };

    protected override async Task OnInitializedAsync() {
        await LoadDataAsync(false);
    }

    async Task LoadDataAsync(bool stateHasChanged = true) {
        var result = await itemService.GetAllAsync();
        items = result?.OrderBy(x => x.Codigo);

        var resultHardware = await itemServiceHardware.GetAllAsync();
        itemsHardware = resultHardware?.OrderByDescending(x => x.Nome);

        if (stateHasChanged)
            StateHasChanged();
    }

    private async Task OnRowClick(GridRowEventArgs<Trecho> args) {
        await EditDialog(args.Item);
    }

    private async Task<DialogResult?> showAddDialog(Trecho item) {
        return await showDialog("Cadastrar", item);
    }

    private async Task<DialogResult?> showEditDialog(Trecho item) {
        return await showDialog("Editar", item);
    }

    private async Task<DialogResult?> showDialog(string addOrEdit, Trecho item) {
        var parameters = new DialogParameters {
                Title = $"{addOrEdit} {EntityNameSingular}",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            };

        var dialog = await dialogService.ShowDialogAsync<Trechos.EditPanel>(item, parameters);

        return await dialog.Result;

    }
    private async void showErrorMessageAsync(Exception ex) {
        await dialogService.ShowErrorAsync("Error: ", ex.InnerException?.Message ?? ex.Message);
    }

    private async Task AddDialog() {

        var dialogResult = await showAddDialog(new Trecho());
        if (dialogResult == null || dialogResult.Cancelled) { return; }

        if (dialogResult.Data is not null) {
            var newItem = dialogResult.Data as Trecho;
            if (newItem is null) { return; }

            try {
                await itemService.SaveAsync(newItem);
                await LoadDataAsync();
            } catch (Exception ex) {
                showErrorMessageAsync(ex);
            }
        }
    }


    private async Task EditDialog(Trecho originalItem) {

        var dialogResult = await showEditDialog(originalItem.DeepCopy());
        if (dialogResult == null || dialogResult.Cancelled || dialogResult.Data is null) {
            return; 
        }

        if (dialogResult.Data.GetType() == typeof(Guid)) {
            await DeleteItem(originalItem);
            return;
        }

        var updatedItem = dialogResult.Data as Trecho;
        if (updatedItem is null) {
            return;
        }

        // Take the data from the "edited" item and put it into the original item
        originalItem.HardwareId = updatedItem.HardwareId;
        originalItem.NumeroSerieHardware = updatedItem.NumeroSerieHardware;
        originalItem.DataHoraInicio = updatedItem.DataHoraInicio;
        originalItem.DataHoraFim = updatedItem.DataHoraFim;
        originalItem.StatusEnvioAPI = updatedItem.StatusEnvioAPI;
        originalItem.Verificado = updatedItem.Verificado;

        try {
            await itemService.SaveAsync(originalItem, originalItem.Id);
            await LoadDataAsync();
        } catch (Exception ex) {
            showErrorMessageAsync(ex);
        }
    }


    private async Task DeleteItem(Trecho item) {

        IDialogReference dialog = await dialogService.ShowConfirmationAsync(
                $"Tem certeza de que deseja deletar {EntityPronoumSingular} {EntityNameSingular.ToLower()} com data de início: '{item.DataHoraInicio?.ToString("dd/MM/yyyy HH:mm:ssh")}'?",
            "Sim", "Não", $"Deletar {EntityNameSingular}?"
        );

        DialogResult result = await dialog.Result;
        if (result.Cancelled) { return; }

        try {
            await itemService.DeleteAsync(item.Id);
            await LoadDataAsync();
        } catch (Exception ex) {
            showErrorMessageAsync(ex);
        }
    }

}
